<main>
  <header><img src="../assets/runner.svg" alt="dessin d'une personne en course">{{ title }}</header>
  

  <section>
    <app-advices-list 
      [advicesDetailsList] = "advicesDetailsList"
      (categorySelectedEvent)="updateSelectedCategory($event)"></app-advices-list>
  </section>

  <article>
    <p> {{ selectedCategory?.learnMore }} </p>
  </article>


  <!-- <nav> 
    <p>Pour la liste complète -></p>
    <a routerLink="/list">Clickez-moi !</a>
    <router-outlet></router-outlet>
  </nav> -->

  
  <section>
    <app-useful-links></app-useful-links>
  </section>

</main>